.gallery {
    height: 750px;
    overflow: scroll;
    margin: 0 auto;
    display: flex;
    border-left: 1rem solid #fff;
    border-right: 1rem solid #fff;
    img {
        display: inline;
        padding: 1rem 1rem 1rem 0;
        height: 100%;
        &:last-child {
            padding: 1rem 0 1rem 0;
        }
    }
}

.gallery::-webkit-scrollbar {
    width: 1em;
}

.gallery::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}
