footer {
  font-size: .8rem;
  background-color: #eee;
  color: #999999;
  bottom: 0;
  padding: 2rem 0 0 0;
  flex: none;
}

footer {
    margin: 3rem 0 0 0;
}

footer h3 {
  margin: 0;
}

.footer-inner {
  max-width: 960px;
  width: 100%;
  margin: 20px auto 0 auto;
}

.copyright {
  width: 100%;
  display: block;
  clear: both;
  text-align: center;
  margin: 2rem 0 0 0;
  padding: .5rem 0;
}

.footer-menu {
    list-style: none;
}
