footer {
  font-size: .8rem;
  background-color: #f4f4f4;
  color: #999999;
  bottom: 0;
  margin: 5rem 0 0 0;
  padding: 2rem 0 0 0;
  flex: none;
}

footer h3 {
  margin: 0;
}

.footer-inner {
  max-width: 960px;
  width: 100%;
  margin: 20px auto 0 auto;
}

.copyright {
  width: 100%;
  display: block;
  clear: both;
  text-align: center;
}

.places {
  text-align: center;
  ul {
    list-style: none;
    text-align: center;
    li {
      display: inline;
      margin: 0 .5rem;
    }
  }
}
