header {
  height: 50vh;
  min-height: 30rem;
  flex: none;
  margin: 10px;
}

header#home {
  height: 30vh;
  min-height: 20rem;
}

.header-inner {
  padding: 5rem 0;
}

h3.name a {
    border: none;
}

@media (min-width: 320px) and (max-width: 550px) {
    header {
        padding: 4rem 1rem;
        height: auto;
        min-height: 10rem;
    }
    header#home {
        height: auto;
        min-height: 10rem;

    }
    .header-inner {
        padding: 3rem 0;
    }
    section {
        padding: 1rem;
    }
}
