.intro {
    max-width: 80%;
    h1, h2, {
        font-family: $essonnes;
        line-height: 1.2;
    }

    h1 {
        font-size: 3.25rem;
    }

    h2 {
        font-size: 2.5rem;
    }

}

ul#instafeed {
  margin: 0;
  li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    margin: 0;
    a{
      display: inline-block;
      width: 340px;
      height: 340px;
      border-bottom: none;
      &:hover {
        box-shadow: none;
      }
    }
  }
}
