.intro {
    max-width: 80%;
    h1, h2, {
        font-family: $athelas;
        line-height: 1.2;
    }

    h1 {
        font-size: 3.25rem;
    }

    h2 {
        font-size: 2.5rem;
    }

}

.currently {

    ul li {
        list-style: none;
        margin: 0 0 .5rem .5rem;

        &:before {
            content: "";
            background-image: url(../images/harry.png);
            background-size: 24px 24px;
            height: 24px;
            width: 24px;
            display: block;
            margin: 5px 5px 0 0;
            float: left;
            position: relative;
        }

        h2 {
            margin-bottom: 1rem;
        }

    }
}
