<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}">
  <script type="text/javascript" src="js/instafeed.min.js"></script>
  <script type="text/javascript">
      var userFeed = new Instafeed({
          get: 'user',
          userId: '351090214',
          limit: '10',
          sortBy: 'most-recent',
          resolution: 'standard_resolution',
          accessToken: '351090214.b2fb2fc.9c8428bc3dfd4acfbf9a725dfb416173'
      });
      userFeed.run();
  </script>

</head>
